@mixin box-sizing() {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin wrapt-text() {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.latam-it-search-input-select {
  position: relative;
  display: block;
  @include box-sizing;
  div,
  input,
  span {
      @include box-sizing;
  }
  [hidden] {
      display: none;
  }
  &.latam-it-search-input-select-searchable {
      .latam-it-search-input-select-container .ng-value-container .ng-input {
          opacity: 1;
      }
  }
  &.latam-it-search-input-select-opened .latam-it-search-input-select-container {
      z-index: 1001;
  }
  &.latam-it-search-input-select-disabled {
      .latam-it-search-input-select-container {
          .ng-value-container {
              .ng-placeholder,
              .ng-value {
                  user-select: none;
                  cursor: default;
              }
          }
      }
      .ng-arrow-wrapper {
          cursor: default;
      }
  }
  &.latam-it-search-input-select-filtered {
      .ng-placeholder {
          display: none;
      }
  }
  .latam-it-search-input-select-container {
    width: 100%;
    height: 4.4375rem;
    padding: 1.8125rem 1rem 1.125rem 1rem;
    border: none;
    position: relative;
    z-index: 2;
    background: none;
    -webkit-appearance: none;
    border-bottom: 1px solid darkgray!important;
    border-top: 1px solid #fff!important;
    border-right: 1px solid #fff!important;
    border-left: 1px solid #fff!important;
      .ng-value-container {
          display: flex;
          flex: 1;
          .ng-input {
              opacity: 0;
              > input {
                  box-sizing: content-box;
                  background: none transparent;
                  border: 0 none;
                  box-shadow: none;
                  outline: none;
                  cursor: default;
                  width: 100%;
                  &::-ms-clear {
                      display: none;
                  }
                  &[readonly] {
                      user-select: none;
                      width: 0;
                      padding: 0;
                  }
              }
          }
      }
  }
  &.latam-it-search-input-select-single {
      &.latam-it-search-input-select-filtered {
          .latam-it-search-input-select-container .ng-value-container .ng-value {
              visibility: hidden;
          }
      }
      .latam-it-search-input-select-container {
          .ng-value-container {
              @include wrapt-text;
              .ng-value {
                  @include wrapt-text;
                  .ng-value-icon {
                      display: none;
                  }
              }
              .ng-input {
                  position: absolute;
                  left: 0;
                  width: 100%;
              }
          }
      }
  }
  &.latam-it-search-input-select-multiple {
      &.latam-it-search-input-select-disabled {
          > .latam-it-search-input-select-container .ng-value-container .ng-value {
              .ng-value-icon {
                  display: none;
              }
          }
      }
      .latam-it-search-input-select-container {
          .ng-value-container {
              flex-wrap: wrap;
              .ng-placeholder {
                  position: absolute;
              }
              .ng-value {
                  white-space: nowrap;
                  &.ng-value-disabled {
                      .ng-value-icon {
                          display: none;
                      }
                  }
                  .ng-value-icon {
                      cursor: pointer;
                  }
              }
              .ng-input {
                  flex: 1;
                  z-index: 2;
              }
              .ng-placeholder {
                  z-index: 1;
              }
          }
      }
  }
  .ng-clear-wrapper {
      cursor: pointer;
      position: relative;
      width: 17px;
      user-select: none;
      float: right;
      bottom: 20px;
      .ng-clear {
          display: inline-block;
          font-size: 18px;
          line-height: 1;
          pointer-events: none;
      }
  }
  .ng-spinner-loader {
      border-radius: 50%;
      width: 17px;
      height: 17px;
      margin-right: 5px;
      font-size: 10px;
      position: relative;
      text-indent: -9999em;
      border-top: 2px solid rgba(66, 66, 66, 0.2);
      border-right: 2px solid rgba(66, 66, 66, 0.2);
      border-bottom: 2px solid rgba(66, 66, 66, 0.2);
      border-left: 2px solid #424242;
      transform: translateZ(0);
      animation: load8 0.8s infinite linear;
      &:after {
          border-radius: 50%;
          width: 17px;
          height: 17px;
      }
      @-webkit-keyframes load8 {
          0% {
              -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
          }
          100% {
              -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
          }
      }
      @keyframes load8 {
          0% {
              -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
          }
          100% {
              -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
          }
      }
  }
  .ng-arrow-wrapper {
      cursor: pointer;
      position: relative;
      text-align: center;
      user-select: none;
      float: right;
      bottom: 20px;
      left: 10px;

      .ng-arrow {
          pointer-events: none;
          display: inline-block;
          height: 0;
          width: 0;
          position: relative;
      }
  }
}

.ng-dropdown-panel {
  box-sizing: border-box;
  position: absolute;
  opacity: 0;
  width: 100%;
  z-index: 1050;
  -webkit-overflow-scrolling: touch;
  .ng-dropdown-panel-items {
      display: block;
      height: auto;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      max-height: 240px;
      overflow-y: auto;

      .ng-optgroup {
          @include wrapt-text();
      }

      .ng-option {
          box-sizing: border-box;
          cursor: pointer;
          display: block;
          @include wrapt-text();

          .highlighted {
              font-weight: bold;
              text-decoration: underline;
          }
          &.disabled {
              cursor: default;
          }
      }
  }

  .scroll-host {
      overflow: hidden;
      overflow-y: auto;
      position: relative;
      display: block;
      -webkit-overflow-scrolling: touch;
  }
  .scrollable-content {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      position: absolute;
  }
  .total-padding {
      width: 1px;
      opacity: 0;
  }
}

.latam-it-search-input-select div, .latam-it-search-input-select input, .latam-it-search-input-select span {
  box-sizing: border-box;
  font-size: 1.125rem!important;
  line-height: 1.5rem;
  font-family: "Itau";
}

.latam-it-search-input-select.latam-it-search-input-select-opened>.latam-it-search-input-select-container{background:#fff;border-color:#b3b3b3 #ccc #d9d9d9}.latam-it-search-input-select.latam-it-search-input-select-opened>.latam-it-search-input-select-container:hover{box-shadow:none}.latam-it-search-input-select.latam-it-search-input-select-opened>.latam-it-search-input-select-container .ng-arrow{top:-2px;border-color:transparent transparent #999;border-width:0 5px 5px}.latam-it-search-input-select.latam-it-search-input-select-opened>.latam-it-search-input-select-container .ng-arrow:hover{border-color:transparent transparent #666}.latam-it-search-input-select.latam-it-search-input-select-opened.latam-it-search-input-select-bottom>.latam-it-search-input-select-container{border-bottom-right-radius:0;border-bottom-left-radius:0}.latam-it-search-input-select.latam-it-search-input-select-opened.latam-it-search-input-select-top>.latam-it-search-input-select-container{border-top-right-radius:0;border-top-left-radius:0}.latam-it-search-input-select.latam-it-search-input-select-focused:not(.latam-it-search-input-select-opened)>.latam-it-search-input-select-container{border-color:#007eff;box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 0 3px rgba(0,126,255,0.1)}.latam-it-search-input-select.latam-it-search-input-select-disabled>.latam-it-search-input-select-container{background-color:#f9f9f9}.latam-it-search-input-select .ng-has-value .ng-placeholder{display:none}.latam-it-search-input-select .latam-it-search-input-select-container{background-color:#fff;border-radius:4px;border:1px solid #ccc;min-height:36px;align-items:center}.latam-it-search-input-select .latam-it-search-input-select-container:hover{box-shadow:0 1px 0 rgba(0,0,0,0.06)}.latam-it-search-input-select .latam-it-search-input-select-container .ng-value-container{align-items:center;padding-left:10px}[dir="rtl"] .latam-it-search-input-select .latam-it-search-input-select-container .ng-value-container{padding-right:10px;padding-left:0}.latam-it-search-input-select .latam-it-search-input-select-container .ng-value-container .ng-placeholder{color:#aaa}.latam-it-search-input-select.latam-it-search-input-select-single .latam-it-search-input-select-container{height:80px}.latam-it-search-input-select.latam-it-search-input-select-single .latam-it-search-input-select-container .ng-value-container .ng-input{top:5px;left:0;padding-left:10px;padding-right:50px;}[dir="rtl"] .latam-it-search-input-select.latam-it-search-input-select-single .latam-it-search-input-select-container .ng-value-container .ng-input{padding-right:10px;padding-left:50px}.latam-it-search-input-select.latam-it-search-input-select-multiple.latam-it-search-input-select-disabled>.latam-it-search-input-select-container .ng-value-container .ng-value{background-color:#f9f9f9;border:1px solid #e3e3e3}.latam-it-search-input-select.latam-it-search-input-select-multiple.latam-it-search-input-select-disabled>.latam-it-search-input-select-container .ng-value-container .ng-value .ng-value-label{padding:0 5px}.latam-it-search-input-select.latam-it-search-input-select-multiple .latam-it-search-input-select-container .ng-value-container{padding-top:5px;padding-left:7px}[dir="rtl"] .latam-it-search-input-select.latam-it-search-input-select-multiple .latam-it-search-input-select-container .ng-value-container{padding-right:7px;padding-left:0}.latam-it-search-input-select.latam-it-search-input-select-multiple .latam-it-search-input-select-container .ng-value-container .ng-value{font-size:0.9em;margin-bottom:5px;background-color:#f5faff;border-radius:2px;border:1px solid #c2e0ff;margin-right:5px}[dir="rtl"] .latam-it-search-input-select.latam-it-search-input-select-multiple .latam-it-search-input-select-container .ng-value-container .ng-value{margin-right:0;margin-left:5px}.latam-it-search-input-select.latam-it-search-input-select-multiple .latam-it-search-input-select-container .ng-value-container .ng-value.ng-value-disabled{background-color:#f9f9f9;border:1px solid #e3e3e3}.latam-it-search-input-select.latam-it-search-input-select-multiple .latam-it-search-input-select-container .ng-value-container .ng-value.ng-value-disabled .ng-value-label{padding-left:5px}[dir="rtl"] .latam-it-search-input-select.latam-it-search-input-select-multiple .latam-it-search-input-select-container .ng-value-container .ng-value.ng-value-disabled .ng-value-label{padding-left:0;padding-right:5px}.latam-it-search-input-select.latam-it-search-input-select-multiple .latam-it-search-input-select-container .ng-value-container .ng-value .ng-value-label{display:inline-block;padding:0 5px 0 5px}.latam-it-search-input-select.latam-it-search-input-select-multiple .latam-it-search-input-select-container .ng-value-container .ng-value .ng-value-icon{display:inline-block;padding:0 5px}.latam-it-search-input-select.latam-it-search-input-select-multiple .latam-it-search-input-select-container .ng-value-container .ng-value .ng-value-icon:hover{background-color:#d8eafd}.latam-it-search-input-select.latam-it-search-input-select-multiple .latam-it-search-input-select-container .ng-value-container .ng-value .ng-value-icon.left{border-right:1px solid #c2e0ff}[dir="rtl"] .latam-it-search-input-select.latam-it-search-input-select-multiple .latam-it-search-input-select-container .ng-value-container .ng-value .ng-value-icon.left{border-left:1px solid #c2e0ff;border-right:none}.latam-it-search-input-select.latam-it-search-input-select-multiple .latam-it-search-input-select-container .ng-value-container .ng-value .ng-value-icon.right{border-left:1px solid #c2e0ff}[dir="rtl"] .latam-it-search-input-select.latam-it-search-input-select-multiple .latam-it-search-input-select-container .ng-value-container .ng-value .ng-value-icon.right{border-left:0;border-right:1px solid #c2e0ff}.latam-it-search-input-select.latam-it-search-input-select-multiple .latam-it-search-input-select-container .ng-value-container .ng-input{padding:0 0 3px 3px}[dir="rtl"] .latam-it-search-input-select.latam-it-search-input-select-multiple .latam-it-search-input-select-container .ng-value-container .ng-input{padding:0 3px 3px 0}.latam-it-search-input-select.latam-it-search-input-select-multiple .latam-it-search-input-select-container .ng-value-container .ng-placeholder{top:5px;padding-bottom:5px;padding-left:3px}[dir="rtl"] .latam-it-search-input-select.latam-it-search-input-select-multiple .latam-it-search-input-select-container .ng-value-container .ng-placeholder{padding-right:3px;padding-left:0}.latam-it-search-input-select .ng-clear-wrapper{color:#999}.latam-it-search-input-select .ng-clear-wrapper:hover .ng-clear{color:#D0021B}.latam-it-search-input-select .ng-spinner-zone{padding:5px 5px 0 0}[dir="rtl"] .latam-it-search-input-select .ng-spinner-zone{padding:5px 0 0 5px}.latam-it-search-input-select .ng-arrow-wrapper{width:25px;padding-right:5px}[dir="rtl"] .latam-it-search-input-select .ng-arrow-wrapper{padding-left:5px;padding-right:0}.latam-it-search-input-select .ng-arrow-wrapper:hover .ng-arrow{border-top-color:#666}.latam-it-search-input-select .ng-arrow-wrapper .ng-arrow{border-color:#999 transparent transparent;border-style:solid;border-width:5px 5px 2.5px}.ng-dropdown-panel{background-color:#fff;border:1px solid #ccc;box-shadow:0 1px 0 rgba(0,0,0,0.06);left:0}.ng-dropdown-panel.latam-it-search-input-select-bottom{top:100%;border-bottom-right-radius:4px;border-bottom-left-radius:4px;border-top-color:#e6e6e6;margin-top:-1px}.ng-dropdown-panel.latam-it-search-input-select-bottom .ng-dropdown-panel-items .ng-option:last-child{border-bottom-right-radius:4px;border-bottom-left-radius:4px}.ng-dropdown-panel.latam-it-search-input-select-top{bottom:100%;border-top-right-radius:4px;border-top-left-radius:4px;border-bottom-color:#e6e6e6;margin-bottom:-1px}.ng-dropdown-panel.latam-it-search-input-select-top .ng-dropdown-panel-items .ng-option:first-child{border-top-right-radius:4px;border-top-left-radius:4px}.ng-dropdown-panel .ng-dropdown-header{border-bottom:1px solid #ccc;padding:5px 7px}.ng-dropdown-panel .ng-dropdown-footer{border-top:1px solid #ccc;padding:5px 7px}.ng-dropdown-panel .ng-dropdown-panel-items{margin-bottom:1px}.ng-dropdown-panel .ng-dropdown-panel-items .ng-optgroup{user-select:none;padding:8px 10px;font-weight:500;color:rgba(0,0,0,0.54);cursor:pointer}.ng-dropdown-panel .ng-dropdown-panel-items .ng-optgroup.ng-option-disabled{cursor:default}.ng-dropdown-panel .ng-dropdown-panel-items .ng-optgroup.ng-option-marked{background-color:#ebf5ff}.ng-dropdown-panel .ng-dropdown-panel-items .ng-optgroup.ng-option-selected{background-color:#f5faff;font-weight:600}.ng-dropdown-panel .ng-dropdown-panel-items .ng-option{background-color:#fff;color:rgba(0,0,0,0.87);padding:8px 10px}.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected{color:#333;background-color:#f5faff}.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected .ng-option-label{font-weight:600}.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked{background-color:#ebf5ff;color:#333}.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-disabled{color:#cccccc}.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-child{padding-left:22px}[dir="rtl"] .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-child{padding-right:22px;padding-left:0}.ng-dropdown-panel .ng-dropdown-panel-items .ng-option .ng-tag-label{font-size:80%;font-weight:400;padding-right:5px}[dir="rtl"] .ng-dropdown-panel .ng-dropdown-panel-items .ng-option .ng-tag-label{padding-left:5px;padding-right:0}[dir="rtl"] .ng-dropdown-panel{direction:rtl;text-align:right}

.latam-it-search-input-select .latam-it-search-input-select-container .ng-value-container .ng-input > input{
  outline: none;
}

input[type="text"]{
  color : transparent;
  text-shadow : 0 0 0 #000;
}
input[type="text"]:focus{
  outline : none;
}
