<div>
  <latam-it-search-input-select
  [(ngModel)]="selectedCity"
  [items]="cities"
  bindLabel="name"
  bindValue="id">
  </latam-it-search-input-select>
</div>


<div id="ngModel" style="margin-top: 45px">Selected: {{selectedCity}}</div>
